[submodule "submodules/old_theory"]
	path = submodules/old_theory
	url = https://github.com/luboise/Theory.git
[submodule "submodules/IIDX DB Tools"]
	path = submodules/IIDX DB Tools
	url = https://github.com/luboise/IIDX-MusicDB-Tools.git
