div.song-page {
	width: 85%;
	display: flex;
	flex-direction: column;

	padding: 1rem 2rem;
	margin: 1rem auto;

	color: white;
	font-size: 1.2em;

	border: 0.5rem solid black;

	background: rgb(0, 99, 255);
	/* background: linear-gradient(
		90deg,
		rgba(0, 99, 255, 1) 0%,
		rgba(255, 165, 0, 1) 37%,
		rgba(249, 163, 6, 1) 63%,
		rgba(0, 99, 255, 1) 100%
	); */
}

div#method-sorting-buttons {
	width: 50%;
	display: flex;

	justify-content: space-around;
}

div#method-sorting-buttons button {
	width: 15%;
}

div.chart-method {
	margin: 6rem 4rem;

	padding: 1rem;

	border: 0.5rem solid black;
	border-radius: 1.8%;
}

.chart-method-header {
	display: flex;
}

.chart-method-header h2 {
	width: 80%;
}

#chart-method-rating-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
}

.chart-method-body {
	background-color: blue;
}
/* .chart-method-header {
	width: 100%;
} */

/* .chart-method, .chart-method-header {
	width: 100%;
} */
