div.song-page {
	width: 80%;
	display: flex;
	flex-direction: column;

	padding: 1rem 2rem;
	margin: 1rem auto;

	color: white;
	font-size: 2em;

	border: 0.5rem solid black;

	background: rgb(0, 99, 255);
	background: linear-gradient(
		90deg,
		rgba(0, 99, 255, 1) 0%,
		rgba(255, 165, 0, 1) 37%,
		rgba(249, 163, 6, 1) 63%,
		rgba(0, 99, 255, 1) 100%
	);
}

div.song-page * {
	/* background-color: orange; */

	width: 100%;

	margin: 1rem auto;
}
